name: Deploy

on:
  push:
    branches: [ prod ]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: multiple command
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /var/www/sugoigame

            git status
            git pull origin prod

            pm2 stop sugoi-map
            pm2 start /var/www/sugoigame/servers/map/server.php --name="sugoi-map"